<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>

<body id="cuerpo" hidden="">
<!-- ======================== Navbar de la pag.======================== -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.ccs.unexpo.edu.ve/web/">UNEXPO LCM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home_view.html">Inicio</a></li>
                <li><a href="secciones_view.html">Crear/Editar Secciones</a></li>
                <li><a href="disponibilidad_view.html">Cargar disponibilidad</a></li>
                <li><a href="edit_db_view.html">Editar DB</a></li>
                <li><a href="../controller/sesiones_controller.php">Cerrar Sesion</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- ======================== /.Navbar de la pag.======================== -->
    <br><br><br>
    <h1>NO IMPLEMENTADO</h1>
    <br><br>
    <h4><a href="../controller/home_1_controller.php">Planificacion Academica Departamento de Ingenieria de Sistemas</a></h4>


<!-- ======================== Javascript======================== -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/sesiones.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>
</html>