<!DOCTYPE html>
<html>
<head>
    <title>Crear Secciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>

</head>

<body id="cuerpo" hidden="">
<!-- ======================== Navbar de la pag.======================== -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.ccs.unexpo.edu.ve/web/">UNEXPO LCM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="home_view.html">Inicio</a></li>
                <li class="active"><a href="secciones_view.html">Crear Secciones</a></li>
                <li><a href="disponibilidad_view.html">Cargar disponibilidad</a></li>
                <li><a href="edit_db_view.html">Editar DB</a></li>
                <li><a href="../controller/sesiones_controller.php">Cerrar Sesion</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!-- ======================== /.Navbar de la pag.======================== -->
    <br><br><br>

<!-- ======================== Contenido de la pag.======================== -->
<div class="container">
    <div class="row">
        <div class="col-md-12">	
            <h2>Agregar / Editar Secciones</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#add_new_record_modal">Agregar nueva seccion</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Secciones:</h3>
            <div class="records_content"></div>
        </div>
    </div>
</div>
<!-- ======================== /.Contenido de la pag.======================== -->
 


<!-- ========================  Modal ADD/CREATE.======================== -->
<div class="modal fade" id="add_new_record_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear secciones</h4>
            </div>
            <div class="modal-body">
 				<div class="form-group">
 					<label for="materias">Elija la materia</label>
 					<select id="materias" class="form-control">
 						<option value="0">Seleccione una materia</option>	
 					</select>
 				</div>
                <div class="form-group">
                    <label for="cantidad_secciones">Introduza la cantidad secciones</label>
                    <input type="number" id="cantidad_secciones" placeholder="5" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="cantidad_alumnos">Introduzca la cantidad de alumnos por sección</label>
                    <input type="number" id="cantidad_alumnos" placeholder="40" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- ========================  /.Modal ADD/CREATE.======================== -->


<!-- ======================== Javascript ======================== -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/sesiones.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/secciones.js"></script>
</body>
</html>